nav(aria-label='breadcrumb')
    ul
        li
            a.bi.bi-file-earmark-music-fill(href='/' style='color: mediumslateblue;') &nbsp; Overview
        li
            a.bi.bi-house-fill(href='/home' style='color: seagreen;') &nbsp; Home
        li
            a.bi.bi-heart-fill(href='/favorites' style='color: indianred;') &nbsp; Favorites
        li
            a.bi.bi-file-earmark-bar-graph(href='/statistics' style='color: goldenrod;') &nbsp; Statistics
