doctype html
html(lang='en' data-theme='dark')
    head
        block head
            meta(charset='utf-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')

            link(rel='stylesheet' href='./css/pico.min.css')
            link(rel='stylesheet' href='./icons/bootstrap-icons.min.css')
            link(rel="stylesheet" href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css' integrity='sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=' crossorigin='')
            style
                | html, body {
                |   height: 100vh;
                | }
                | body>footer {
                |   position: sticky;
                |   top: 100vh;
                | }

            link(rel='icon' type='image/png' href='/img/favicon.png')

            script(src='/js/base.js' defer)
            script(src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js' integrity='sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=' crossorigin='')
            title Verse Mapper | #{title}
    body
        main.container
            include _header

            block content

        include _footer
