extends base

block content
   section(style='margin: auto; text-align: center; padding-top: 0; margin-bottom: 70px;')
      h5
         a#btnHome(href=user ? '/home' : '/login')
            mark Explore Music and Lyrics with Geo-location Integration

   section
      h2 Discover Tracks and Lyrics
      p Welcome to Verse Mapper, your go-to platform for exploring music and lyrics. Search for your favorite tracks and get detailed insights into their lyrics. Our unique Natural Language Processing (NLP) analysis extracts geo-locations mentioned in the lyrics and displays them on an interactive map.

   section
      h2 Get Started
      p Ready to embark on a musical journey? Use the search feature to find tracks, view their lyrics, and discover the places mentioned in the songs. Explore the interconnected world of music and geography like never before with Verse Mapper.
      p
         strong P.S.&nbsp;
         | Don't forget to save your favorite songs for quick access!
